* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 20;
    padding: 0;
}

#contentParent {
    height: 100%;
    width: 100%;
}

.responsive-columns-wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -ms-display: flex;
    -ms-flex-direction: row;
}

#updateGroup {
    margin: 20 0
}

#navGroup {
    margin: 20 0
}